<section class = 'EventsDisplay' data-ng-controller= 'EventsController as Events'>

	<!--This needs to be tested -->
	<div>
		<div class = 'EventsImm col-md-3'>
			<div class = "header"><h3>Nearby</h3></div>
			<ul> 
			<li data-ng-repeat= "festival in ImmMonthFestivals.events | orderBy: 'datetime_local'" class = "list-group-item">
				<h5 data-ng-href="#!/events/{{event.url}}">{{festival.title}}</h5><!--Figure out,link user to the site where the tickets are-->
				<br><span class = 'Performer'>Performers:</span></br>
				<span data-ng-repeat = "EachPerformer in festival.performers" class = "PlaceLeft">
				<span class = 'eachPerf'>{{EachPerformer.name}}</span>
				</span>
				<span class = "PlaceRight">{{festival.datetime_local | date: 'MMM d, y'}}</span>
				<br><span class = "PlaceLeft">{{festival.venue.name}}, {{festival.venue.address}}, {{festival.venue.extended_address}}</span>
			</li>
			</ul> 																		
		</div>
		<div class = 'FavEvents col-md-3'>
			<div class = "header"><h3>Most Popular</h3></div>
			<ul>
			<li data-ng-repeat = "Event in MonthEvents.events | orderBy: 'datetime_local'" class = "list-group-item">
 				<h5 data-ng-href="#!/events/{{event.url}}">{{Event.title}}</h5>
 				<!--I am trying to figure out how to alternate between Performers and the word Home team -->
				<!--Dependent upon slug: sport-->
				<br>
				<span data-ng-repeat = "EachPerformer in Event.performers" ng-init="Event.IsPerformerPres($index, EachPerformer)" class = "PlaceLeft">
				<span ng-if = 'EachPerformer.PerformerPres' class = 'Performer'>Performers:</span>
	<!--ConcertPerf-->	<span ng-if = 'EachPerformer.PerformerPres' class = 'eachPerf'>{{EachPerformer.name}}</span>
				<span ng-if = 'EachPerformer.home_team' class = 'Performer'>Home Team:</span>
	<!--SportTeam-->	<span ng-if = 'EachPerformer.home_team' class = 'eachPerf'>{{EachPerformer.name}}</span>
 				</span>
 				<span class = "PlaceRight">{{Event.datetime_local | date: 'MMM d, y'}}</span>
				<br><span class = "PlaceLeft">{{Event.venue.name}}, {{Event.venue.address}}, {{Event.venue.extended_address}}</span>
			</li>
			</ul>
		</div>
		<div class = 'EventsSugg col-md-3'>
			<div class = "header"><h3>Think Outside The Box</h3></div>
			<ul>
			<li data-ng-repeat = "festival in SuggEvents.events | orderBy: 'datetime_local'" class = "list-group-item">
				<h5 data-ng-repeat="#!/events/{{event.url}}">{{festival.title}}</h5>
				<br><span class = 'Performer'>Performers:</span></br>
				<span data-ng-repeat = "EachPerformer in festival.performers" class = "PlaceLeft">
				<br><span>{{EachPerformer.name}}</span>
				</span>
 				<span class = "PlaceRight">{{festival.datetime_local | date: 'MMM d, y'}}</span>
				<br><span class = "PlaceLeft">{{festival.venue.name}}, {{festival.venue.address}}, {{festival.venue.extended_address}}</span></br>
			</li>
			</ul>
		</div>
	</div>
</section>