<% content_for :main do %>
	<div class = 'main'>
		<section class = "Intro">
		</section>
		<section class = "Songs">
		</section>
		<section class = "GetReady">
		<div class = "darken"></div>
		</section>
		<section class = "FunTimes">
		<%= yield(:Imm_event_tickets)%>
		<%= yield(:PopularFests) %>
		</section>
	</div>
<%end%>