<span ng-switch = 'bottom.id'>
<% for gor_clothing in @gor_clothing_standalone_bottoms %>
<span ng-switch-when = '{{bottom.id}}'>
<li data-ng-keydown='manualToggle(e)' id='standalone_bottoms_<%= gor_clothing.id%>' class = 'possible_pieces'>
	<%= link_to image_tag(ng_src = "{{bottom.image}}"), controller: Gor_Clothing, action: "detail", id: gor_clothing.id%>
	<details ng-bind-html = 'renderHtml(bottom.price)' class = 'tops_piece_price'></details>
	<details ng-bind-html = 'renderHtml(bottom.description)' class = 'tops_piece_description'></details>
</li>
</span>
<%end%>
</span>