<span ng-switch = 'top.id'>
	<span ng-switch-when = '{{top.id}}'>
		<% for gor_clothing in @possible_match_extra_tops %>
			<span ng-if = 'tops.filter(function(top){return top !== suggested_tops})'>
			<li data-ng-keydown = 'manualToggle(e)' id='non_suggested_top_<%= gor_clothing.id%>' class = 'possible_pieces'>
				<%= link_to image_tag(ng-src = "{{top.image}}"), controller: Gor_Clothing, action: "detail", id: gor_clothing.id%>
				<details ng-bind-html = 'renderHtml(top.price)' class = 'piece_price'></details>
				<details ng-bind-html = 'renderHtml(top.description)' class = 'piece_description'></details>
			</li>
			</span>
		<%end%>
	</span>
</span>