<section class = "FunTimes">
<span class = "EventsImm">
	<div class = "label"><h3>Nearby</h3></div>
	<ul>
	<li></li>
	</ul>
</span>
<span class = "FavEvents">
	<div class = "label"><h3>Most Popular</h3></div>
	<ul>
	<li></li>
	</ul>
</span>
<span class = "EventsSugg">
	<div class = "label"><h3>Think Outside The Box</h3></div>
	<ul>
	<li></li>
	</ul>
</span>
</section>