<head>	
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'final_preparation' %>
</head>
<% content_for :final_preparation %>
<div id = 'final_preparation'>
	<div class = 'potential_piece_box'>
		<% yield %>
	</div>
</div>
<% end %>
<% render :file => 'layouts/detail' %>